.faqs{
    margin: 5rem auto 5rem auto;
    width: 90%;
    color: black
}

.faqs-title h2{
    color: #080000;
}

.faqs-title{
    margin: 3vh auto 3vh auto;
}

.faqs-text p{
    font-size: larger;
    font-weight: bolder;
}

.theme{
    margin: 3vh auto 3vh auto;
}